/* 	Resset css from https://gist.github.com/joshuapowell/1680540 
	(so sorry, I really like Meyer's CSS reset and there's no reason to write this all over again.)
*/
html, body {
	border: 0;
	font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
 
div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}
 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
 
article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}
 
table {
  border-collapse: separate;
  border-spacing: 0;
  caption, th, td {
    text-align: left;
    vertical-align: middle;
  }
}
 
a img {
  border: 0;
}
 
:focus {
  outline: 0;
}

/*
	Main styles
	@ Marta Preuss
	marta.preuss@gmail.com
*/

/* Variables */
@fontfamily:'Ubuntu', sans-serif;
@colorbase:#737373;
@secundaryColor:#47b135;

/* Mixin */
.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
}
.triangle(@origin: top, @width: 12px, @height:12px, @color:#666){
	width: 0;
	height: 0;
	border-style: solid;
	& when (@origin = top){
		border-width: 0 @width/2 @height @width/2;
		border-color: transparent transparent @color transparent;
	}
	& when (@origin = topRight){
		border-width: 0 @width @height 0;
		border-color: transparent @color transparent transparent;
	}
	& when (@origin = right){
		border-width: @height/2 0 @height/2 @width;
		border-color: transparent transparent transparent @color;
	}
	& when (@origin = bottomRight){
		border-width: 0 0 @height @width;
		border-color: transparent transparent @color transparent;
	}
	& when (@origin = bottom){
		border-width: @height @width/2 0 @width/2;
		border-color: @color transparent transparent transparent;
	}
	& when (@origin = bottomLeft){
		border-width: @height 0 0 @width;
		border-color: transparent transparent transparent @color;
	}
	& when (@origin = left){
		border-width: @height/2 @width @height/2 0;
		border-color: transparent @color transparent transparent;
	}
	& when (@origin = topLeft){
		border-width: @height @width 0 0;
		border-color: @color transparent transparent transparent;
	}
}

/* Helpers */
.fl{float: left;}
.fr{float: right;}
a{text-decoration: none;}
.clf:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


/* Main and header */
.main{
	max-width: 988px;
	margin: 50px auto 20px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

h1{
	display: inline-block;
	background: #fff;
	top: -34px;
	padding:5px 47px 10px 11px;
	position: relative;
	box-shadow: 0px -3px 5px -1px rgba(0,0,0,0.3);
	&:after{
		content:"";
		display: block;
		position: absolute; 
		top: 0; 
		right: -11px;
		background: #FFF;
		height: 38px;
		width: 23px;
		transform:skewX(33deg);
		box-shadow: 3px -1px 5px -2px rgba(0,0,0,0.3);
	}
	a{
		color:@colorbase;
		font:bold 20px @fontfamily;
		position: relative;
		&:after{
			content:"";
			display: block;
			.triangle(bottom,12px,9px,#a4a4a4);
			position: absolute;
			top: 40%;
			right: -30px;
		}
	}
	
}

.navmain {
	background-color: #e7e8e9; 
	.gradient(top, #e7e8e9, #d0d4d5);
	margin: -18px 0 0 0;
	width: 1005px;
	position: relative;
	left: -9px;
	&:before{
		content:"";
		.triangle(bottomRight, 7px, 8px, #a0a2a6);
		top: -7px;
		left: 1px;
		position: absolute;
	}
	&:after{
		content:"";
		.triangle(bottomLeft, 7px, 8px, #a0a2a6);
		top: -7px;
		right: 1px;
		position: absolute;
	}
	li{
		list-style: none;
		display: inline-block;
		font:bold 14px @fontfamily;
		a{
			color:#6d6f71;
			border-right: 1px solid #dddedf;
			display: inline-block;
			padding: 12px 20px 9px;
			&:hover, &.active{
				background:#8f9297;
				.gradient(top, #acadb2, #74797c);
				color:#FFF;
			}
		}
	}
}

.subnav{
	color: @colorbase;
	font:12px @fontfamily;
	margin: 12px 0 0;
	box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.3);
	position: relative;
	right: -7px;
	&:after{
		content:"";
		position: absolute;
		bottom: -9px;
		right: -2px;
		.triangle(topLeft,8px,9px,#909296);
	}
	li{
		display: inline-block; 
		list-style: none;
		background: #FFF;
		border: 3px solid #f3f3f3;
		border-right: none;
		border-left: none;
		padding: 5px 34px;
		margin:0 -2px;
		&:first-child{
			border-color:#ebebeb;
			background-color: #ebebeb;
			border-left: 3px solid #ebebeb;
			padding: 5px 15px;
		}
		&:nth-child(2) a{
			color:#26a9e7;
			border-right: 1px solid #d5b5b6;
			padding-right: 27px;
			margin-right: 0;
		}
		&:last-child{
			border-right: 5px solid #f3f3f3;
			padding-left: 5px;
			padding-right: 20px;
			a:after{
				content:"";
				display: block;
				.triangle(bottom,6px,5px,#26a9e7);
				position: absolute;
				top: 32%;
				right: -13px;
			}
		}
		a{
			color: inherit;
			position: relative;
		}
	}
}

/* Web panel */
.webapp{
	clear: both;
	margin: 81px 0 0;
	h3, nav a{
		font:bold 12px @fontfamily;
		color:@colorbase;
		text-align: center;		
		padding: 2px 0;
	}
	li{
		display: block;
		float: left;
		text-align: center;
		list-style: none;
		width: 143px;
		vertical-align: top;
		&:first-child .box{
			padding: 22px 12px 22px 22px;
			width: 143px
		}
		span{
			color: @secundaryColor;
		}
		nav {
			top:-4px;
			position: relative;
				a{
				color: #9d9d9d;
				text-transform: uppercase;
				font-weight: normal;
				position: relative;
				&:after{
					content:"";
					display: block;
					.triangle(bottom,10px,5px,#9d9d9d);
					position: absolute;
					top: 32%;
					right: -10px;
				}
			}
		}
		&:last-child .box{
			border-radius: 0 9% 9% 0;
			&:after, &:before{
				display: none;
			}
		}
	}
	.box{
		display: block;		
		border-right: 1px solid #dbdddd;
		background: #eaedef;
		padding: 22px 12px;
		left: -10px;
		font:10px @fontfamily;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		.gradient(top, #e7e8e9, #d0d4d5);
		position: relative;
		&:after{
			content:"";
			.triangle(bottom,24px,13px,#FFF);
			position: absolute;
			top: 0;
			right: -13px;
			z-index: 5;
		}
		&:before{
			content:"";
			width: 0;
			height: 0;
			.triangle(top,24px,13px,#FFF);
			position: absolute;
			bottom: 0;
			right: -13px;
			z-index: 5;
		}
	}
	ul{
		position: relative;
		&:before{
			content:"";
			.triangle(topRight,9px,8px,#a0a2a5);
			position: absolute;
			bottom: 16px;
			left: -10px;
		}
	}
	.ico{
		display: block;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background: @secundaryColor;
		margin: 0 4px 0 0; 
		float: left;
		position: relative;
		text-align: center;
		left: -2px;
		&:before{
			position: absolute;
			top: 0;
			content:".  .";
			color: #FFF;
			left: 9px
		}
		&:after{
			position: absolute;
			bottom: 2px;
			content: ")";
			color: #FFF;
			transform: rotate(90deg);
		}
	}
	label{
		text-transform: uppercase;
		color: #8d8a8a;
	}
	.stats{
		background: #FFF;
		width: 55px;
		height: 8px;
		float: right;
		.bar{
			height: 8px;
			background: @secundaryColor;
		}
	}
	.migrating {
		width: 218px;
		.box{
			padding: 8px;
		}
		.animation {
			overflow: hidden;
			label{
				background: @colorbase;
				color: #FFF;
				height: 50px;
				font:bold 16px/54px @fontfamily;
				float: left;
				width: 95px;
				text-transform: none;
				position: relative;
				&:before{
					content:"";
					position: absolute;
					.triangle(topLeft,10px,10px,#DDE);
					top: 0;
					left: 0;
				}
				&:after{
					content:"";
					position: absolute;
					.triangle(bottomLeft,10px,10px,#CCE);
					bottom: 0;
					left: 0;
				}
				span{
					display: block;
					height: 0;
					width: 0;
					position: absolute;
					.triangle(right,25px,50px,@colorbase);
					right: -25px;
					top: 0;
					z-index: 9;
				}
			}
			.bar{
				background: #000;
				float: left;
				width: 99px;
				height: 38px;
				margin: 5px 0;
				position: relative;
				background-color: gray;
				background-image: repeating-linear-gradient(45deg, transparent, transparent 14px, #575757 14px, #454546 28px);
				background-position: 0px 0px;
				background-repeat: repeat-x;
				&:before{
					content:"";
					position: absolute;
					.triangle(topRight,5px,5px,#DDE);
					top: 0;
					right: 0;
				}
				&:after{
					content:"";
					position: absolute;
					.triangle(bottomRight,5px,5px,#CCE);
					bottom: 0;
					right: 0;
				}
			}
		}
	}
	.add{
		padding-top: 17px;
		width: 105px;
		a{
			font:12px @fontfamily;
			color:@colorbase;
			padding-bottom: 9px;
		}
		span{
			font:bold 18px @fontfamily;
			color: #000;
			display: inline-block;
			margin-bottom: 1px;
			&:before{
				content:"+";
				text-align: center;
				display: block;
				float: left;
				background: @secundaryColor;
				color: #FFF;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				font: 18px/18px arial;
				margin-right: 5px;
			}
		}
	}
}


/* Response time table */
.responseTime{
	margin:86px 0 0 -10px;
	overflow: hidden;
	width: 430px;
	th, td{
		width: 105px;
		text-align: center;
	}
	tr{
		font:12px @fontfamily;
		display: block;
	}
	tbody tr{
		margin: 9px 0;		
		.gradient(top, #f7f7f8, #e8e8e8);
		border-radius: 0 10px 10px 0;
		border: 1px solid #e1e0e0;
		td{
			font:25px @fontfamily;
			color: #000;
			padding: 3px 0;
			&:first-child{
				font:bold 14px @fontfamily;
				color:@colorbase;
				text-align: left;
				padding: 0 0 0 20px;
				position: relative;
				&:after{
					content:"";
					position: absolute;
					bottom: -10px;
					left: 0;
					.triangle(topRight,9px,9px,#7a7a7e);
				}
			}
			&:last-child{
				border-left: 1px solid #d8d7d8;
			}
			small{
				font-size: 12px;
			}
		}
	}
	th{
		color: #b8bbbd;
		&:first-child{
			text-align: left;
			position: relative;
			padding: 0 0 0 20px;
			&:after{
				content:"";
				position: absolute;
				bottom: -8px;
				left: 0;
				.triangle(topRight,9px,9px,#7a7a7e);
			}
		}
	}
	a{
		background: @secundaryColor;
		color: #FFF;
		font:bold 12px @fontfamily;
		border-radius: 0 9% 9% 0;
		box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.3);
		display: inline-block;
		padding: 7px 15px 7px 14px;
		left: -19px;
		position: relative;
		&:after{
			.triangle(bottom,9px,9px,#FFF);
			content:"";
			position: relative; 
			float: right;
			margin: 3px 0 0 6px;
		}
	}
}

/* Graph */
.graph{
	margin-top: 117px;
	max-width: 567px;
	label{
		float: left;
		width: 70px;
		font:bold 13px @fontfamily;
		color: @colorbase;
		.gradient(top,#f7f7f8,#e7e6e6);
		border-radius: 10px 0 0 10px;
		padding: 15px 0 15px 8px;
	}
	canvas{
		float: left;
	}
}

/* Manage Environment Variable */
.mgmEnv{
	clear: both;
	margin: 75px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px 20px;
	h2{
		font:20px @fontfamily;
		color: @colorbase;
		border-bottom: 1px solid #e9e9e9;
		padding-bottom: 5px;
		margin-bottom: 30px;
	}
	h3{
		font:bold 14px @fontfamily;
		color: @colorbase;
		margin-bottom: 10px;
	}
	p{
		font:12px @fontfamily;
		color:#b4a29d;
		padding-bottom: 17px;
	}
	form ul{
		background: #e5e5e6;
		border-radius: 5px;
		width: 550px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 20px;	
		display: block;
		list-style: none;	
		margin-bottom: 10px;
		li{
			margin-bottom: 5px;
		}
		button{
			border-radius: 50%;
			width: 16px;
			height: 16px;
			border: none;
			background: #898989;
			color: #FFF;
			font-weight: bold;
			text-indent: -2px;
			line-height: 14px;
		}	
		input{
			width: 235px;
			height: 25px;
			border: none;
			padding: 0 5px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
	}
	button[type="submit"]{
		border-radius: 3px;
		border: 1px solid @secundaryColor;
		.gradient(top,#f0ebf2, #c7cec9);
		text-transform: lowercase;
		font:bold 12px @fontfamily;
		padding: 6px 15px
	}
	button.addAnother{
		border-bottom: none;
		border-radius: 20px 0 0 20px;
		position: relative;
		padding: 7px;
		font:bold 12px @fontfamily;
		line-height: 20px;
		border: none;
		&:before{
			content:"+";
			color:#FFF;
			background: @secundaryColor;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			display: block;
			float: left;
			margin-right: 6px;
		}
	}
	aside{
		width: 276px;
		padding-left: 44px;
		border-left: 1px solid #f2f2f2;
		li{
			font:12px @fontfamily;
			list-style-position: inside;
			color: #26a9e7;
			a{
				color: #26a9e7;
			}
		}
	}
}